@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html{
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.exp-title{
  width: 500px;
  height: 100px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;
  margin-top: 110px;
  margin-left: 50px;
}

.exp-title h2{
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 35px;
}

.exp-content{
  width: 1000px;
  height: 500px;
  background: rgba(0,0,0, 0.5);
  margin: 0 auto;
  padding: 30px;
  margin-top: 70px;
}
.exp-text{
  font-size: 28px;
  line-height: 2.5;
  color: white;

}

.proj-title{
  width: 500px;
  height: 100px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;
  margin-top: 110px;
  margin-left: 50px;
}

.proj-title h2{
  text-align: center;
  font-size: 35px;
  color: white;
  padding: 30px;
}

.proj-title2{
  width: 500px;
  height: 100px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;
  margin-top: 1350px;
  margin-left: 50px;
}

.proj-title2 h2{
  text-align: center;
  font-size: 35px;
  color: white;
  padding: 30px;

}

.gameplay-gif{
  padding-top: 15px;
  text-align: center;
}

.static{
  position: absolute;
}

.static:hover{
  opacity: 0;
}

.proj-content{
  width: 1000px;
  height: 1100px;
  background: rgba(0,0,0, 0.5);
  margin: 0 auto;
  padding: 30px;
  margin-top: 70px;
  margin-left: 400px;
  font-size: 28px;
  line-height: 2.5;
  color: white;
}

.box{
  width: 600px;
  height: 500px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;

  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;

}


.about-box{
  width: 1000px;
  height: 650px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;

  padding: 30px;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;

}

.about-text{
  font-size: 24px;
  line-height: 2.0;
  text-align: center;
}

.title{
  width: 1060px;
  height: 100px;
  margin: 0 auto;
  margin-top: 145px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.box h1{
    font-weight: 500;
    font-size: 50px;
}

.box h3{

  font-weight: 300;
  font-size: 23px;
}

.icons{
  font-size: 40px;
}

.icons a{
  color: white;
  text-decoration: none;
}

.icons a:hover{
  color: rgb(255, 255, 0);
}

.mypicture{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

body{
  margin: 0;
}


.container{
  background: rgb(135,137,137);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

.Name{
  font-family: 'Work Sans', sans-serif;
}

\
header::after{
  content: "";
  display: table;
  clear: both;
}

nav{
  float: right;
  margin-right: 50px;

}

nav ul{
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;

  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 23px;
  font-size: 20px;

  position: relative;
}

nav a{

  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:hover{
  color: rgb(255, 255, 0);

}
nav a::after{
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::after{
  width: 100%;
}
