html, body{
  height: 100%;
  width: 100%;
  background-color: #283b69;
}

.navbar{
  background-color: #283b69;
  padding: 1% 0;
  font-size: 22px;

}

.navbar-default .navbar-nav li a{
  color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover .navbar-default .navbar-nav li a.active {
  color: #FFFFFF;
}

#home{
  background: url(images/background1.jpg) no-repeat center center;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  padding-top: 50px;
}

.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1{
  color: #ffffff;
  font-size: 500%;
  font-weight: 700;
}

.landing-text h3{
  color: #f2f2f2;
  font-weight: 700;
}

.icons{
  font-size: 40px;
}

.icons a{
  color: white;
  text-decoration: none;
}

.icons a:hover{
  color: black

}

#fixed {
  background: url(images/background2.jpg) no-repeat center center;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#fixed2{
  background: url(images/background3.jpg) no-repeat center center;
  display: block;
  height: 50%;
  position: relative;
  width: 100%;
  background-size: cover;

}

.inner-title{
  text-align: center;
  vertical-align: middle;
  border: 2px solid white;


}

.inner-title h2{
  color: #ffffff;
  font-size: 400%;
  font-weight: 700;

}

.inner-title h3{
  color: #ffffff;
  font-size: 300%;
  font-weight: 700;
  border: 1px solid white;
  padding: 10px;
  display: inline;

}

.inner-title p{
  color: #ffffff;
  font-size: 200%;
  font-weight: 400;
  line-height: 200%;
  padding-top: 20px;


}

hr{
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px dashed #ccc;
   margin: 1em 0;
   padding: 0;
}
.inner-title li{
  color: #ffffff;
  font-size: 200%;
  font-weight: 400;
  line-height: 200%;
  padding-top: 20px;

}

.clickable h2{
  color: #ffffff;
  font-size: 200%;
  font-weight: 400;
  line-height: 200%;
  padding-top: 20px;
}
.clickable h2:hover{
  color: black;
}
@media (max-width: 768px){

  .landing-text h1{
    font-size: 300%
  }
  .inner-title h2{
    font-size: 300%;
  }
  .inner-title h3{
    font-size: 250%;
  }
  .inner-title p{
    font-size: 150%;
  }
  .inner-title li{
    font-size: 150%;
  }
  .clickable h2{
    font-size: 150%;
  }
}
